<%- model_class = Attend -%>
<div class="page-header">
<!--  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1> -->

 <H1>Application form</H1>
 <BR/>
<img src="<%= asset_path "img.jpg" %>" width="100%" />

 <h3>Information</h3> 
 <ul>
  <li>Date: Sat 16, Ap 11:00 - 14:30 </li>
  <li>Place: Lemon&Lime Lemon 
	<ul>
	  <li>158-0093 2-23-10, Kaminoge, Setagaya-ku, Tokyo</li>
	  <li><%= link_to 'Jump to Google Map!', 'https://goo.gl/maps/EecSh1wEUx82'  %></li>
	</ul>
  </li>
 </ul>

</div>
<%= render :partial => 'form' %>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div>
 <H1>Q1.<H1>
 What is this studio's name?
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
