<%- model_class = Attend -%>
<div class="page-header">
<!--  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1> -->

 <H1>出席回答フォーム</H1>
 <BR/>
<img src="<%= asset_path "img.jpg" %>" width="100%" />

 <h3>Information</h3> 
 <ul>
  <li>日時：4/16(土) 11:00 - 14:30 </li>
  <li>場所：Lemon&Lime Lemon （レモンライム レモン） 
	<ul>
	  <li>〒158-0093 東京都世田谷区上野毛 2-23-10</li>
	  <li><%= link_to 'Google Mapで確認する', 'https://goo.gl/maps/EecSh1wEUx82'  %></li>
	</ul>
  </li>
 </ul>

</div>
<%= render :partial => 'form' %>





<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div>
 <H1>Q1.<H1>
 ここの会場の名前は？
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
