<% provide(:title, "Quiz  --------------------------------> Q2: Where is the groom from ? ") %>
<div class="page-header">

</div>
<div>
 <H1>Q2. このページのどこかに問題があります。</H1>
 <H1>Q2. The question is hidden in this page.</H1>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
 <font color="#FFFFFF">すべて選択した？でもここじゃないよ</font>
 <font color="#FFFFFF">Did you drugged? but answer is not here.</font>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
 <!--
   ソースまで見たあたたはすごい！
　 けどマニアックすぎるのでここに書いていません。。
   You are very nice !! 
   There is no answer here...  
 -->
<br/>
 ここに問題はないです。
 There is no answer here..
<div>
</div>
