<HTML><HEAD><TITLE>TOP PAGE </TITLE></HEAD>

<BODY>
<H1>
Q10.
<pre style="font-size: 22pt"><code>
88 &gt; 77
85 &gt; 84
285 &gt; 164
499 &lt; 99
88 = 79
KK &gt; 99
Q8 = 99
KK2 &lt; 77
AA &lt; JJ 

AJ ? KK</code></pre>
</H1>
</BODY>
</HTML>
